.img-container {
  width: 10rem; /* initial mesaures without animations hover */
  height: 10rem; /* in the animations form size = 12rem */
  position: relative;
  
}

.card-container h2 {
  margin-block: 0;
  font-weight: 500;
  display: none; /* turn on when the user makes hover */
}
/* card without animations hover */
.img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* ############################################# */
/*  this is the image container */
.card-container .card-img-containe {
  position: relative;
  background: repeating-conic-gradient(
    #f16529 0deg,
    #f16529 calc(82 * 3.6deg),
    /* calc(98*36deg) */ rgba(0, 0, 0, 1) 0deg,
    rgba(0, 0, 0, 0.2)
  );
  /* center the image */
  display: flex;
  align-items: center;
  justify-content: center;

  /* set the dimensions fot the img container */
  width: 160px;
  height: 160px;

  /* align it in the top-center its container */
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  /* set the border radius */
  border-radius: 50%;
}
/* TOD: when the user makes hover in the image start the animation */
.card-container .card-img-containe::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 50%;
  background: #212121;
  z-index: -10000;
}

/* styles for the image */
.card-container .card-img-container img {
  /* border: 1px solid blue; */
}
