#root {
  min-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

/* Styles for the mediaqueries */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

