/* Fonts Styles */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  /* Here goes all root styles */
  --shark-50: #f6f6f6;
  --shark-100: #e7e7e7;
  --shark-200: #d1d1d1;
  --shark-300: #b0b0b0;
  --shark-400: #888888;
  --shark-500: #6d6d6d;
  --shark-600: #5d5d5d;
  --shark-700: #4f4f4f;
  --shark-800: #454545;
  --shark-900: #3d3d3d;
  --shark-950: #212121;

  --dark-font: #fff;
  --light-font: #000;
  --root-padding-left: 60px;
  --root-padding-top: 40px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #212121;
  color: var(--dark-font); /* Becouse, we are workin with dark mode primary */
}

/* Styles for the media queries */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
