.frame {
  background: #888;
  position: relative;
}
/* .frame::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: red;
  transform-origin:  0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate();
} */

