.row-1, .row-2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 72px;
    
}
.row-1 span::after {
    content: "";
    display: inline-block;
    background: #7c7ce2;
    border-radius: 4px;
    width: 8px;
    height: 58px;
}

.row-2 {
    font-size: 48px;
}
.row-2 h3 {
}