@import url('../../../index.css');
section.pres-main { 
    display: flex;
    min-height: 60vh;
    font-weight: 300;
    padding: var(--root-padding-top) var(--root-padding-left) 0 var(--root-padding-left);
}
section .col-1 {
    flex: 50%;
    /* padding: 0 20px; */
}

section .col-2 {
    flex: 50%;
    /* padding: 0 20px; */
}