@import url("../../../index.css");
.projects {
  position: relative;
  padding: var(--root-padding-top) var(--root-padding-left) 0
    var(--root-padding-left); /* main padding of root */
  text-align: center;
}

.projects header h1 {
  font-family: "Montserrat";
  text-transform: capitalize;
  font-size: 44px;
}

.projects header h3 {
  text-transform: capitalize;
  font-family: Manrope;
  font-weight: 200;
}

section.projects-container {
  position: relative;
  background: red;
  width: 100%;
  height: 200px;
}