@import url('../../../../index.css');

main.tech {
  font-family: "Montserrat";
  padding: var(--root-padding-top) var(--root-padding-left) 0 var(--root-padding-left); /* main padding of root */
  text-align: center;
  position: relative;
}
main.tech header h1 {
  text-transform: capitalize;
  font-size: 44px;
  margin-block: 0.5rem;
}

main.tech header h3 {
  font-family: Manrope;
  font-weight: 200;
}

/* slider animation */
.slider {
  /* background: brown; */
  position: relative;
  min-height: 0;
  height: 16rem; /* base sizing */
  /* centering */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider .slider-track-l {
  position: relative;
  display: flex;
  -webkit-animation: scroll-l 80s linear infinite;
  animation: scroll-l 80s linear infinite;
}

@keyframes scroll-l {
  0% {
    -webkit-transform: rotateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: rotateX(-160px * 31);

    transform: translateX(calc(-160px * 31));
  }
}

.slider .slider-track-r {
  position: relative;
  display: flex;
  -webkit-animation: scroll-r 80s linear infinite;
  animation: scroll-r 80s linear infinite;
}

@keyframes scroll-r {
  0% {
    -webkit-transform: rotateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: rotateX(160px * 24);

    transform: translateX(calc(160px * 24));
  }
}
