.menu {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 13px;
}

.menu ul {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
  margin-block: 0;
  /* background: rgba(69, 69, 69, .5); */
  

}

.menu ul li {
  list-style-type: none;
  padding: 12px 32px;
  text-align: center;
  text-transform: capitalize;
  transition: all ease 0.5s;
}

.menu ul li:hover {
  background:rgba(69, 69, 69, .2);
  cursor: pointer;
}

#logo {
  padding : 0;
  display: flex;
  
}
